:global html, :global body {
  overflow: hidden;
}

.root {
  width: 500px;
  height: 700px;
}

.link {
  display: flex;
  align-items: center;
}

.link > img {
  height: 100%;
  margin: 5px 10px;
}

.main {
  width: 100%;
}

.home {
  composes: main;

}

.nologin {
  composes: main;
  background-color: #f00;
  color: #fff;
  height: 100%;
  padding: 5px 20px;
}
